@import "../../styles/colors.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.subtitle {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
  /* identical to box height, or 52px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #212353;
}

.paragraph {
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  text-align: center;

  /* 1 */

  color: $black;
}
