@import "../../styles/colors.scss";

.wrapper {
  padding: 50px;
  border-top: 2px solid $pink;
  margin: 0 20px;
}

.title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
  /* identical to box height, or 52px */
  color: $purple;
}

.row1,
.row2 {
  flex: 0 0 100%;
}

.row1 {
  display: flex;
  align-items: center;
}

.contactbutton,
.orderbutton {
  border: 0px;
  width: 210px;
  height: 60px;
  left: 1150px;
  top: 50px;
  margin: 10px;
}

.contactbutton {
  background: $gray;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  color: white;
}

.actions,
.socials {
  margin-left: auto;
}

.socials {
  display: flex;
}

.orderbutton {
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  color: $pink;
}

.logo {
  width: 50px;
  height: 50px;
}

.address,
.contacts {
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: $pink;
  margin-top: 10px;
  margin-left: 20px;
}

.contacts {
  text-align: left;
  margin-right: 50px;
}

.name {
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 160%;
  color: $pink;
  padding: 10px;
}

.company {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
}

.companyinfo {
  display: flex;
  text-align: left;
  margin-bottom: 100px;
}

.copyright {
  text-align: left;
}
