.wrapper {
  width: 377px;
  height: 470px;
  background: #ffffff;
  margin: 20px 50px 40px 50px;
  box-shadow: 0px 20px 0px rgba(216, 216, 216, 0.199);
  border-radius: 20px;
}

.wrapper:nth-of-type(1) {
  margin-left: 0;
}
