@import "../../styles/colors.scss";

.image {
  width: 100%;
  position: relative;
  left: 8%;
}

.wrapper {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  justify-content: center;
  margin-top: 100px;
}

.title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 110%;
  /* or 88px */
  text-align: left;
  display: flex;
  align-items: center;
  color: $pink;
}

.button {
  background: $red;
  border-radius: 50px;
  border: 0px;
  color: #ffffff;
  width: 170px;
  height: 60px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 160%;
}

.left {
  display: flex;
  flex-direction: column;
  width: 650px;
}

.paragraph {
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: left;
  /* 1 */
  width: 380px;

  color: $black;
}
