@import "../../styles/colors.scss";

.openinghours {
  font-family: Lucida Console;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 0 10px black;
  padding: 0 10px 0 10px;
  overflow: hidden;
  display: inline-block;
}
.openinghourscontent {
  float: left;
}
.openinghourscontent h2 {
  display: block;
  text-align: center;
  margin-top: 0.33em;
}
.openinghourscontent button {
  color: white;
  font-family: Courier New;
  font-size: large;
  font-weight: bolder;
  background-color: #4679bd;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}
.today {
  color: #8ac007;
}
.openingHoursTable tr td:first-child {
  font-weight: bold;
}

.openinghoursTable {
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: $red;
  padding: 20px;
  border-radius: 20px;
}

.openStatus {
  display: block;
  margin-top: -1em;
  text-align: center;
  border: dotted lightgrey 3px;
}
.openorclosed:after {
  content: " open during these hours:";
}
.open {
  color: green;
}
// .open:after {
//   content: " open";
//   color: #6c0;
// }
// .closed:after {
//   content: " gesloten";
//   color: red;
// }
.openingHoursTable tr td {
  padding: 5px;
}
