@import "../../styles/colors.scss";

.title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */

  display: flex;
  align-items: center;

  color: #212353;
}

.wrapper {
  width: 90%;
  height: 560px;
  background: $team-bg;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.image {
  width: 414px;
  height: 262px;
  margin-left: 4rem;
}

.right {
  display: flex;
  flex-direction: column;
  height: 262px;
  padding-left: 2rem;

  h2 {
    margin: 0;
  }
}

.paragraph {
  text-align: left;
  max-width: 400px;
}
