@import "../../styles/colors.scss";

.paragraph {
  text-align: left;
  max-width: 400px;
}

.button {
  background: $gray;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  color: white;
  border: 0px;
  width: 210px;
  height: 60px;
  left: 1150px;
  top: 50px;
  margin: 10px;
}

.article {
  text-align: left;
  display: flex;
  align-items: center;
}

.article > * {
  margin: 20px;
}

.article > a {
  justify-self: flex-end;
}
